@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-8">

    <h1 class="page-header">
        Inteligencia Artificial en la ESIME Culhuacán
    </h1>

    <!-- First Blog Post -->
    <h2>
        <a href="#">Blog Post Title</a>
    </h2>
    <p class="lead">
        by <a href="#">Yo y que :B</a>
    </p>
    <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:45 PM</p>
    <hr>
    <img class="img-responsive" src="http://placehold.it/900x300" alt="">
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, voluptates, voluptas dolore ipsam cumque quam veniam accusantium laudantium adipisci architecto itaque dicta aperiam maiores provident id incidunt autem. Magni, ratione.</p>
    @Html.ActionLink("More", "Index", "Blog", new { id = 1 }, null)
    @*<a class="btn btn-primary" href="">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>*@

    <hr>

    <!-- Pager -->
    <ul class="pager">
        <li class="previous">
            <a href="#">&larr; Older</a>
        </li>
        <li class="next">
            <a href="#">Newer &rarr;</a>
        </li>
    </ul>

</div>